<footer class="footer-custom mt-5 pt-5 pb-4">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="footer-logo mb-3">EVENTOS</h5>
                <div class="d-flex">
                    <a href="#" class="social-icon me-3"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="social-icon me-3"><i class="bi bi-youtube"></i></a>
                    <a href="#" class="social-icon me-3"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="social-icon"><i class="bi bi-twitter-x"></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h6 class="footer-title mb-3">Ajuda</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="footer-link">Entre em contato</a></li>
                    <li><a href="#" class="footer-link">Meia-entrada</a></li>
                    <li><a href="#" class="footer-link">Adiamentos / cancelamentos</a></li>
                    <li><a href="#" class="footer-link">Fazer login / cadastrar</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h6 class="footer-title mb-3">Comercial</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="footer-link">Nossas casas</a></li>
                    <li><a href="#" class="footer-link">Venda seu evento</a></li>
                    <li><a href="#" class="footer-link">Eventos corporativos</a></li>
                    <li><a href="#" class="footer-link">Venda a grupos</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h6 class="footer-title mb-3">Políticas</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="footer-link">Política de privacidade</a></li>
                    <li><a href="#" class="footer-link">Política de cookies</a></li>
                    <li><a href="#" class="footer-link">Termos e condições</a></li>
                    <li><a href="#" class="footer-link">Acesso aos meus dados</a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>